:root {
  --primary-color: #007BFF;
  --secondary-color: #4CAF50;
  --text-color: #333;
  --background-color: #f9f9ff;
  --font-family-headings: 'Montserrat', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
}
